
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Italianno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* backgorund color */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}
body{
    background-color: black;
    width: 95%;
    margin: auto;
    color: white;
}

/* nav section */
.navsection{
    display: flex;
    justify-content: space-between;
  color: white;
  align-items: center;
  padding: 30px;
}
.logobtn ul {
    display: flex;
}
.logobtn ul li {
    list-style: none;
    margin-right: 25px;
    font-size: 25px;
    padding: 15px;
}
.logo h4{
    font-size: 40px;
    color: #E6533C;
}
.homecolor{
    background-color: #E6533C;
    padding: 15px;
    border-radius:80px;
}
/* banner section */
.bannerone{
  
   
    background-image: linear-gradient(to top, #000000, #060606, #0c0c0c, #111111, #151515, #151515, #151515, #151515, #111111, #0c0c0c, #060606, #000000);
}
.bannercontent{
    color: white;
    
}
.bannerone{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bannercontent h1{
    font-size: 88px;
}
.bannercontent p{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
    color: #717171;
}
.bannerbtn .one {
    background-color: #E6533C;
    padding: 15px;
    border-radius:80px;
    color: white;
    gap: 10px;
}
 .bannerbtn .two {
    
    padding: 15px;
    border-radius:80px;
    background-color: #0000;
    color: white;
    border: 2px solid white;
    
 }
 .tag{
   
 }
 .tag-one{
  background-color: #717171;
  color: white;  
  align-items: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 26px 10px ;
  position: absolute;

  top: 20%;
  right:25%;
  justify-content: center;
 }
 .tag-one>h1{
    
    font-size: 28px;
 }
 .tag-one>p{
    
    font-size: 20px;
 }
 .tag-two{
    background-color: #1E2527;
    color: white;
    border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 25px 30px ;
    position: absolute;
    
    bottom: 42%;
right: 44%;
   
 }
 .tag-two>h1{
    
    font-size: 28px;
 }
 .tag-two>p{
    
    font-size: 20px;
 }
 /* habit section */

 .sec-one{
    text-align: center;
    margin: 100px auto;
    color: white;
 }
 .sec-one>h1{
    font-size: 50px;
    font-weight: 700;
    padding-bottom: 20px;

 }
.sec-one>p{
    font-size: 20px;
    color: #717171;
    padding-bottom: 20px;

}
.habit-sec{
    display: flex;
    justify-content: space-around;


}
.sad{

height:350px ;
width: 350px ;


}
.sad h4,p{
    text-align: center;
    margin-top: 10px;
}
.sad p{
    color: #717171;   
}
.sad>img{
    max-width: 100%;
    border-radius: 50%;
    border: 1px solid white;
   
    height:250px ;
    width: 250px ;
    margin-left: 3.5rem;
}



.sad{
    height:350px ;
    width: 350px ;
}
.extra-mile-easily-section{
    display: flex;
    padding: 30px;
    border-radius: 18px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    justify-content: space-between;
    align-items: center;
}
.extra-mile-easily-section
.content{
    text-align: left;
    width: 35%;
}

.content h2{
    color: var(--secondary-color);
    font-size: 88px;
    

}
.extra-mile-easily-section
.content span{
    padding: 15px 0px;
    font-size: 1rem;
    display: block;
    color: var(--third-span-color);
    font-size: 24px;
    margin-bottom: 10px;
    color: #717171
    
}
.extra-mile-easily-section
.image{
    width: 40%;
}
.extra-mile-easily-section
.image img{
    width: 100%;
    border-radius: 18px;
    /* height: 312px; */
    
}
.btn1{
    background-color: #E6533C;
    padding: 15px 60px;
    border-radius:80px;
    color: white;
    gap: 10px;
}
/* blog */
.blog-section {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    background-color:#222222;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.blog-section h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5em;
    color: #E6533C ;
}

.blog-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.blog-post {
    background-color:white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    transition: transform 0.3s ease;
}

.blog-post:hover {
    transform: scale(1.03);
}

.blog-post img {
    width: 100%;
    height: auto;
}

.blog-content {
    padding: 20px;
    background-color: #666;;

}

.blog-content h3 {
    font-size: 1.5em;
    margin: 0 0 10px;
    color: #333;
}

.blog-content p {
    font-size: 1em;
    line-height: 1.6;
    color: #666;
    margin-bottom: 15px;
}

.blog-content a {
    text-decoration: none;
   color:#E6533C
    /* font-weight:bold;
    transition:color 0.3s ease; */
}

.blog-content a:hover {
    color:  #E6533C;
}
/* blog */

.bmi{
    display: flex;
    color: white;
    justify-content: space-between;
    margin-top: 60px;
}
/* bmi-calculator style */
.bmi-calculator-section{
    padding: 30px;
    margin-top: 3rem;
}
.bmi-calculator-section
.bmi-containner{
    width: 100%;
}
/* .bmi-content-style */
.bmi-calculator-section
.bmi-containner
.bmi-content{
    width: 50%;
    margin: 30px auto;
}
.bmi-calculator-section
.bmi-containner
.bmi-content h1{
    color: var(--secondary-color);
    font-size: 3.5rem;
    text-align: left;
    padding-bottom: 15px;
}
.bmi-calculator-section
.bmi-containner
.bmi-content span{
    color: var(--third-span-color);
    font-size: 1rem;
    text-align: left;
}
/* bmi-calculator-container */
.bmi-calculator-container{
    width: 100%;
    /* height: 500px; */
    color: aliceblue;
    border-radius: 18px;
    background: rgb(34, 34, 34);
}
.bmi-chart-and-calculate{
    display: flex;
    justify-content: space-between;
}
.bmi-calculator-chart{
    margin-top: 3rem;
    padding: 1rem;
    width: 30%;
}
.bmi-calculator-chart
.title h1{
    font-size: 1.8rem;
    text-align: left;
}
.bmi-calculator-chart table{
    border-collapse: collapse;
    margin-top: 3rem;
}
.bmi-calculator-chart table
.th td{
    font-size: 1.2rem;
    color: var(--secondary-color);
    padding: 12px 15px;
}
.bmi-calculator-chart table
tr td{
    border: 0.3px solid #636262;
    color: var(--third-span-color);
    font-size: 1rem;
    padding: 12px 15px;
}
/* bmi-calculate style */
.bmi-calculat{
    width: 55%;
    margin-top: 3rem;
    padding: 1rem;
}
.bmi-calculat
.bmi-calculat-content h1{
    font-size: 1.8rem;
    text-align: left;
    margin-bottom: 1rem;
}
.bmi-calculat
.bmi-calculat-content span{
    font-size: 1rem;
    text-align: left;
    color: var(--third-span-color);
}
/* bmi-input-style */
.bmi-calculat
.bmi-input{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.8rem;
    padding: 2.5rem 0rem;
}
.bmi-calculat
.bmi-input
input,select{
    padding: 0.8rem;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 8px;
    border: none;
    color: var(--third-span-color);
    background-color: #413e3e;
}
.bmi-calculat
.cal-btn{
    font-size: 1.2rem;
    width: 200px;
    margin-bottom: 3rem;
}
#activity{
    grid-column: span 2;
}
/* <link href="https://fonts.cdnfonts.com/css/miama" rel="stylesheet">
font-family : Miama , sans-serif;
font-style : italic */

.content {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 500;
}
.teampic{
    display: grid ;
    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 10px 5px;
    background-color:#222222;
    
}
.pic img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
}
.pic{
    position: relative;
}
.teamcontent {
    font: 800;
    position: absolute;
    bottom: 20px;
    left: 20px;
    text-align: left;
    
   
}
.teamcontent p {
    color: #6B6B6B;
    right: 20px;
    
}
 /* footer-section */
 .footer{
    background-color:#222222;
 }
 .foot-container{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    
    width: 100%;
    
 }
.con-1 p {
    text-align: left;
    color: #6B6B6B;
}
.con-1 h1{
    color: #E6533C;
    font-weight: 500;
}
.con-2 ul li {
    list-style: none;
    color: #6B6B6B;
    margin-top: 20px;
    
}

.con-3 ul li {
    list-style: none;
    color: #6B6B6B;
    margin-top: 20px;
}



.footer-bottom {
    border-top: 1px solid  #6B6B6B;
    padding-top: 10px;
    margin-top: 20px;
}

.footer-bottom p {
    font-size: 1em;
    color: #6B6B6B;
}


/* media querry */
@media screen and (max-width: 576px) {
    .navsection{
        flex-direction: column;
    }

    
    .logobtn ul {
      flex-direction: column;
    }
    
    .bannerone {
        flex-direction: column;
    }
   

    /* habit */
    .habit-sec{
        flex-direction: column;
       
        
    }
   
        /* Run an Extra Mile Easily */
        .extra-mile-easily-section{
            flex-direction: column;
            width: 95%;
            padding: 10px 0px;
            margin: auto;
        }
        .extra-mile-easily-section
        .content{
            width: 80%;
            margin: auto;
            /* padding: 10px; */
            text-align: left;
        }
        .extra-mile-easily-section
        .content h2{
            font-size: 3rem;
        }
        .extra-mile-easily-section
        .content span{
            font-size: 1.3rem;
            line-height: 1.8rem;
        }
        .extra-mile-easily-section
        .content button{
            width: 100%;
            font-size: 1.8rem;
            padding: 15px;
            border-radius: 40px;
            margin-top: 1rem;
            margin-bottom: 0.5rem;
        }
        .extra-mile-easily-section
        .image{
            width: 90%;
            padding: 30px;
            margin: auto;
        }
        .extra-mile-easily-section
        .image img{
            width: 90%;
            margin-left: 6px;
        }
    /*  Run an Extra Mile Easily */
    

    .extra-mile-easily-section {
        flex-direction: column;
    }

    /* blog*/
    .blog-container{
        flex-direction: column;
    }
     /* bmi-calculator-section */
     .bmi-calculator-section .bmi-containner .bmi-content {
        width: 100%;
    }
    .bmi-chart-and-calculate {
        flex-direction: column;
    }
    .bmi-calculator-chart {
        width: 100%;
        padding: 0;
    }
    .bmi-calculat {
        width: 100%;
        padding: 0;
    }
    /* meet our team */
    .teampic{
        grid-template-columns: repeat(1, 1fr);
    }
    /* footer sec */
    .foot-container{
        flex-direction: column;
     }
     .con-2 {
        margin-top: 10px;
     }
     .con-3 {
        margin-top: 10px;
     }

/*  */